mixin socialIcons
  a(href="https://discord.gg/vYmvFBZQsM").social-icon discord
  a(href="https://www.linkedin.com/in/scott-casey-20210398/").social-icon linkedin
  a(href="https://www.patreon.com/kurohyoustudios?fan_landing=true").social-icon patreon
  .flex.flex-column
    span(style="justify-self:center;") Scott Casey | Kurohyou Studios
    span(style="justify-self:center;") #{siteDate}
  a.material-icons(title="Email" href="mailto:scaseydv@gmail.com?subject=Inquiring about your work") email
  a(href="https://github.com/Kurohyou").social-icon github
  a(href="https://twitter.com/Kurohyoustudios").social-icon twitter

mixin kurohyouHead(title)
  // Font and style links used for many Kurohyou Studios sites
    Links:
      Aldrich font
      Exo 2 font
      Material Icons
      Social Icons created on icomoon
      Social Icons stylesheet
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="../portfolio/social-icons.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Aldrich&family=Exo+2:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(rel="stylesheet" href="/assets/css/style.css")
    block
    title #{title}